@{
    ViewData["Title"] = "Home Page";
}
@model Settings

<div class="text-center" style="height: 125px">
    <h1 class="display-4">Welcome to Cloud Auto Group</h1>
</div>

<div class="jumbotron">
    <h2 class="display-3">Request a Quote: </h2>
    <form>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" id="txtName" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" id="txtEmail" required>
        </div>
        <div class="form-group">
            <label>Car Type</label>
            <input class="form-control" id="txtCarType" value="Sedan" required>
        </div>
        <div class="form-group">
            <label>Credit Score</label>
            <input class="form-control" id="txtCreditScore" value="650" required>
        </div>
        <button type="submit" id="btnSubmit" class="btn btn-primary">Request Quote</button>
    </form>
    <div style="min-height: 100px;">
        <strong id="lblResults" style="display: none"></strong>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $("#btnSubmit").click(function() {

            $("#btnSubmit").prop('disabled', true);
            $("#btnSubmit").html("   ...   ");

            $("#lblResults").fadeOut(function() {

                var requestQuoteApiUrl = '@Model.RequestQuoteApiUrl';

                var data = JSON.stringify({
                    "name": $("#txtName").val(),
                    "email": $("#txtEmail").val(),
                    "carType": $("#txtCarType").val(),
                    "creditScoreEstimate": parseInt($("#txtCreditScore").val())
                });

                $.ajax({
                    url: requestQuoteApiUrl,
                    method: "POST",
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    success: function(results) {
                        // clear out the form data
                        $('form').get(0).reset();
                    },
                    complete: function(xhr, status) {
                        $("#lblResults").html(status +": " + xhr.responseText);
                        $("#lblResults").fadeIn();

                        $("#btnSubmit").removeAttr('disabled');
                        $("#btnSubmit").html("Submit");
                    }
                });
            });

            return false;
        });
    });
</script>